/* CSS Reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}


/* Custom CSS */
:root {
    --sky-blue: #0ea5e9;
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-family: "Roboto", var(--system-ui);
}

/* Temporary for troubleshooting */
*,
*::before,
*::after {
  /* border: 1px solid red; */
}

html,
body {
    margin: 0;
    padding: 0;
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}


button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-weight: 600;
    color: white;
}


.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}

/*** NAV BAR ***/
.nav {
    background-color: var(--sky-blue);
    grid-row: 1 / 6;
    color: white;
    fill: white;
    display: grid;
    grid-template-rows: repeat(3, auto);
    align-content: start;
    padding: 1rem;
    gap: 3rem;
    font-weight: 500;
}

.dashboard-title {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1rem;
}

.dashboard-header {
  font-size: 1.5rem;
}

.dashboard-icon {
  height: 3rem;
  width: 3rem;
}

.user-links .icon,
.admin-links .icon {
  height: 1.5rem;
}

.user-links,
.admin-links {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}

/*** ACTIONS ***/
.actions {
    background: white;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 10px 40px;
    gap: 10px;
}

.action-buttons {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1.5rem;
    justify-content: end;
    align-items: center;
}

.action-buttons button {
    border-radius: 3rem;
    width: 6rem;
    padding: .4rem 0rem;
    background-color: var(--sky-blue);
}

.avatar {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.avatar-img {
  background-color: blueviolet;
  width: 4rem;
  height: 60px;
  border-radius: 50%;
}

.welcome-message {
  margin-left: 15px;
}

.welcome-message p {
  font-size: .75rem;
  font-weight: 800;
}

.welcome-message .name {
  font-size: 1.2rem;
  font-weight: 900;
}

.search {
  display: grid;
  grid-template-columns: 1.5rem 1fr;
  align-items: center;
}

.search input {
  margin-left: 1rem;
  background: lightgrey;
  border: none;
  border-radius: 1rem;
  height: 1.5rem;
}

.alerts {
  display: grid;
  grid-template-columns: auto 3rem auto;
  align-items: center;
  justify-content: end;
  gap: 1.5rem;
}

.alert-bell {
  height: 1.5rem;
}

.avatar-img-small {
  background-color: blueviolet;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.alerts h2 {
  font-size: 1rem;
}


/*** DASHBOARD ***/
.dashboard {
  background-color: lightgrey;
  display: grid;
  grid-template-columns: 3fr 20rem;
  grid-template-rows: 1fr 1fr;
  padding: .5rem .5rem 1rem 0;
}

.projects {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  margin: 1rem;
}

.project-title {
  font-size: 1rem;
  margin-bottom: .75rem;
}

.project-cards{
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 20rem repeat(auto-fill, 20rem);
  grid-auto-rows: 12rem;
  align-items: stretch;
}

.project-card {
  background: gold;
  border-radius: .5rem;
  display: grid;
  grid-template-rows: 1fr;
  box-shadow: 3px 3px 3px grey;
}

.card-contents {
  margin-left: .5rem;
  padding: 1.5rem 1rem;
  background: white;
  display: grid;
  grid-template-rows: auto 1fr auto;
  border-radius: 0 .5rem .5rem 0;
  overflow: auto;
}

.card-contents h3 {
  font-size: 1rem;
  margin-bottom: .3rem;
}

.card-contents p {
  overflow: auto;
  font-size: .8rem;
  font-weight: 600;
  color: grey;
  line-height: .8rem;
}

.project-icons {
  display: grid;
  grid-template-columns: 1.3rem 1.3rem 1.3rem;
  gap: 1.5rem;
  justify-content: end;
  margin-top: 1rem;
}

/*** ANNOUNCEMENTS ***/

.announcements {
  margin: 1rem 1rem 1rem 0;
}

.announcements-title {
  font-size: 1rem;
  margin-bottom: .75rem;
}

.announcements-feed {
  background: white;
  box-shadow: 3px 3px 3px grey;
  border-radius: .5rem;
  padding: 1.5rem;
  display: grid;
}

.announcement {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid lightgrey;
}

.announcement:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.announcement h3 {
  font-size: .8rem;
  margin-bottom: .3rem;
}

.announcement p {
  font-size: .7rem;
  font-weight: 600;
  color: grey;
  line-height: .8rem;
}

/*** TRENDING ***/
.trending {
  margin: .5rem 1rem 1rem 0;
}

.trending-title {
  font-size: 1rem;
  margin-bottom: .75rem;
}

.trending-feed {
  background: white;
  box-shadow: 3px 3px 3px grey;
  border-radius: .5rem;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 3rem 1fr;
  grid-auto-rows: 3rem;
  gap: .75rem;
}

.trending h3 {
  font-size: .9rem;
  margin-bottom: .3rem;
}

.trending p {
  font-size: .8rem;
  font-weight: 600;
  color: grey;
  line-height: .8rem;
}
